@media (min-width: 1025px) and (max-width: 1440px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
  .testi_img {
    position: absolute;
    left: 83%;
    top: 49%;
    transform: translate(-83%, -50%);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .number {
    display: none;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .btn-started {
    display: inherit;
  }
  .responsive {
    background-position: right;
  }
  .testi_img {
    position: absolute;
    top: 86%;
    left: 62%;
    transform: translate(-62%, -80%);
  }
  .testi_img img {
    width: 55%;
  }
  .testi_text {
    position: absolute;
    top: 44%;
    transform: translate(0px, -50%);
    text-align: center;
    left: 12%;
  }
  .plans h1 {
    font-size: 47px;
    color: #0f5f5c;
    padding: 0;
    margin: 0;
  }
  .btn-select {
    padding: 0;
    margin: 0;
    background-color: #83a7a5;
    padding: 8px 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
  }
  .download_now {
    display: flex;
    align-items: center;
  }
  .f_icon i {
    font-size: 25px;
    margin: 0px 5px;
    overflow: hidden;
  }
  .about_text {
    text-align: center;
  }
  .f_text {
    padding: 20px 0;
    color: #83a7a5;
    margin: 0;
    text-align: center;
  }
  .f_icon {
    padding: 20px 0;
    text-align: center;
  }
}

@media (min-width: 0px) and (max-width: 426px) {
  .number {
    display: none;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .btn-started {
    display: inherit;
  }
  .banner {
    text-align: center;
  }
  .responsive {
    background-position: right;
  }
  .responsive_con p {
    color: #83a7a5;
    font-size: 14px;
  }
  .responsive_con h1 {
    color: #0f5f5c;
    font-weight: 400;
    font-size: 32px;
  }
  .testi_img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
  .testi_text {
    position: absolute;
    top: 15%;
    transform: translate(0px, -15%);
    text-align: center;
  }
  .testi_text p {
    color: #83a7a5;
    font-size: 15px;
  }
  .att-text {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    text-align: center;
  }
  .att-text h1 {
    font-size: 32px;
    font-weight: 400;
    color: #0f5f5c;
  }
  .att-text p {
    font-size: 12px;
    color: #83a7a5;
  }
  .download_text {
    text-align: center;
  }
  .btn-download {
    padding: 0;
    margin: 0;
    background-color: #6fb048;
    padding: 8px 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  .about_text {
    text-align: center;
  }
  .f_text {
    padding: 20px 0;
    color: #83a7a5;
    margin: 0;
    text-align: center;
  }
  .f_icon {
    padding: 20px 0;
    text-align: center;
  }
  .download_now {
    text-align: center;
  }
}
